.container {
    border: 1px green solid;
    height: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.red, .yellow, .blue, .green, .aqua {
    height: 200px;
    width: 200px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
    order: -1;
}
 
.blue {
    background-color: blue;
    align-self: flex-end;
}

.green {
    background-color: green;
    align-self: flex-start;
}

.aqua {
    background-color: aqua; 
}